<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.demo.lcboapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".LCBOApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.MainActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".ui.store.details.view.StoreDetailsActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.store.location.view.StoreLocationActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".domain.cache.ClearDatabaseService"
            android:exported="false" />

        <receiver android:name=".domain.cache.ClearDatabaseReceiver">
            <intent-filter>
                <action android:name="com.demo.lcboapp.ACTION_CLEAR_DATABASE"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAZBirleKXCLe1cMuzDTSnnz_0f7aEYwDM"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>